<!DOCTYPE html>
<htm lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../../shared/app.js"></script>
	<script src="../../shared/filtres.js"></script>
	<script src="demandesController.js"></script>
	<script src="filtreTournois.js"></script>
</head>


<body ng-app="myApp" ng-controller="demandesCtrl">
<div class="container">

<!-- Select permettant de filtrer selon un tournoi précis -->
<div class="row">
	<div class="col-md-3">
		<select class="form-control" ng-model="filtreTournois">
				<option selected="selected">Tous les tournois</option>
				<option ng-repeat="t in selectTournament">{{t}}</option>
		</select>
	</div>
</div>

<!--Confirmation de pret, hidden par default -->
<div class="alert alert-success" ng-hide="hideConfirmation">
  <button type="button" class="close" ng-click="fermerConfirmation()">&times;</button>
  <strong>Pr&ecirc;t valid&eacute;!</strong> Prenez contact avec la personne pour organiser les d&eacute;tails.
</div>

<div class="form-group" ng-repeat="t in tournaments | filtreTournoi : filtreTournois">
	<h3>{{t.tName}}</h3> {{t.date}}
	<div class="card" ng-repeat="d in t.demandes">
		<div class="row">
			<div class="col-sm-9">
				<div  class="card-body">
					<p><h4>{{d.uName}}</h4></p>
					<p>
						<div ng-repeat="c in d.cards">
							<span ng-mouseenter="updateImg($parent.$parent.$index, $parent.$index, c.img)">
								{{c.qty+' '+c.cName}}
							</span>
						</div>
					</p>
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOrgPret" ng-click="orgPret($parent.$index,$index)">
							Pr&ecirc;ter des cartes
						</button>
				</div>
			</div>
			<div class="col-sm-3">
				<img src="{{imgDemandes[$parent.$index][$index]}}"  width="150px" class="float-right img-fluid">
			</div>
		</div>
	</div>
</div>



<!-- Modal d'orga de pret -->
<div class="modal fade" id="modalOrgPret">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Pr&ecirc;t &agrave; {{modal.uName}} pour le {{modal.tournament}} </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div ng-repeat="c in modal.cards">
        	<div class="row">
				<div class="col-md-3">
		        	<select class="form-control">
		        		<option ng-repeat="n in [] | range:c.qty" >{{$index}}</option>
		        		<option selected="selected">{{c.qty}}</option>
		        	</select>
		        </div>
		        <div class="col-md-9">{{c.cName}}</div>
		    </div>
        </div>
      </div>

      <div class="modal-footer">
      	<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="fermerConfirmation()">Annuler</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="afficheConfirmation()">Confirmer</button>
      </div>

    </div>
  </div>
</div>
</div>
</body>
</html>