<div class="container">
    <h2>Mes prêts </h2>

    <div class="alert alert-danger" ng-show="erreurModifPret">
      <button type="button" class="close" ng-click="fermerErreurModifPret()">&times;</button>
      Modification non enregistrée : {{raisonErreur}}
    </div>
    <div class="alert alert-success" ng-show="succesModifPret">
      <button type="button" class="close" ng-click="fermerSuccesModifPret()">&times;</button>
      Modification enregistrée.
    </div>

    <div class="row">
        <div class="col-md-4">
            <select class="form-control" ng-model="selectFiltreTournois" ng-options="t for t in selectTournament">
                <p> {{t.tName}} </p>
            </select>
        </div>
    </div>

    <div class="form-group" ng-repeat="t in tournaments | filtreTournois : selectFiltreTournois">
        <button class="btn btn-outline-primary" type="button" ng-click="isCollapsed= !isCollapsed" title="voir mes prêts pour {{t.tName}}">
            <h5> {{t.tName}} du {{t.date}} </h5>
        </button>

        <div id="collapseExample{{$index}}" uib-collapse="isCollapsed" class="row">
             <!--PRETS-->
             <div class="col-sm-4">
                <h4> Je prête </h4>
               
                <div id="lender" ng-repeat="l in t.lentCards">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4><a class="nav-link active" href="#!profil?uName={{l.uName}}">{{l.uName}}</a></h4>
                            <div id="pret{{$parent.$index}}.{{$index}}">
                                <div ng-repeat="c in l.cards">
                                    <p> {{c.qty}} {{c.cName}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="modification($parent.$index, $index, 'pret')"> Modifier </button>
                </div>
            </div>

            <!--EMPRUNTS-->
            <div class="col-sm-4">
                <h4>
                    On me prête
                </h4>
                <div ng-repeat="b in t.borrowedCards">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4><a class="nav-link active" href="#!profil?uName={{b.uName}}">{{b.uName}}</a></h4>
                            <div id="emprunt{{$parent.$index}}.{{$index}}" >
                                <div ng-repeat="c in b.cards" >
                                    <p> {{c.qty}} {{c.cName}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="modification($parent.$index, $index, 'emprunt')"> Modifier </button>
                </div>

            </div>

            <!--NEED-->
            <div class="col-sm-4">
                <h4> Il me manque </h4>

                <div ng-repeat="c in t.demands">
                    <p> {{c.qty}} {{c.cName}} </p>
                </div>
                <button type="button" class="btn btn-primary" ng-click="modification($parent.$index, $index, 'demande')"> Modifier </button>
            </div>

        </div>
    </div>
    <div class="myModalParent"></div>
    <div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Modifier</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div ng-repeat="c in modal.cards">
                    <div class="row">
                        <div class="col-md-3">
                            <select class="form-control" ng-model="modifIds[$index].qty" ng-options="n for n in [] | range:c.qty+1">
                                {{$index}}
                            </select>
                        </div>
                        <div class="col-md-9">{{c.cName}}</div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">

            <a href="#!emprunter" ><button class="btn" type="button" href="#!emprunter" ng-if="type==='demande'" ng-click="cancel()">Ajouter des cartes</button></a>
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    </div>





</div>
