<div class="container" xmlns="http://www.w3.org/1999/html">
    <h2>Mes prêts </h2>

    <div class="row">
        <div class="col-md-4">
            <select class="form-control" ng-model="selectFiltreTournois" ng-options="t for t in selectTournament">
                <p> {{t.tName}} </p>
            </select>
        </div>
    </div>

    <br> </br>

    <div class="form-group" ng-repeat="t in tournaments | filtreTournois : selectFiltreTournois">
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{$index}}" title="voir mes prêts pour {{t.tName}}">
            <h5> {{t.tName}} du {{t.date}} </h5>
        </button>

        <div id="collapseExample{{$index}}" class="collapse toggle" >
            <h4 class="panel-title">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#prets{{$index}}" title = "voir ce que je prête">
                    <h5> Je prête </h5>
                </button>
            </h4>


            <!--PRETS-->
            <div id="prets{{$index}}" class="collapse toggle" >
                <div id="lender" ng-repeat="l in t.lentCards">
                    <div class="row">
                        <div class="col-sm-9">
                            <a role= "button" class ="btn btn-outline-info" href="#!profil?uName={{l.uName}}">{{l.uName}}</a>
                            <!--lien vers le profil du user a ajouter-->
                            <div id="pret{{$parent.$index}}.{{$index}}" class="collapse show">
                                <div ng-repeat="c in l.cards">
                                    <p> {{c.qty}} {{c.cName}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalLent"
                            ng-click="orgLent($parent.$index,$index)"> Modifier
                    </button>
                    <br> </br>
                </div>
            </div>

            <br> </br>


            <!--EMPRUNTS-->
            <h4 class="panel-title">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#emprunt{{$index}}"  title = "voir ce que l'on me prête" >
                    <h5> On me prête </h5>
                </button>
            </h4>

            <div id="emprunt{{$index}}" class="collapse toggle">
                <div ng-repeat="b in t.borrowedCards">
                    <div class="row">
                        <div class="col-sm-9">
                            <a role= "button" class ="btn btn-outline-info" href="#!profil?uName={{b.uName}}">{{b.uName}}</a>
                            <div id="emprunt{{$parent.$index}}.{{$index}}" class="collapse show">
                                <div ng-repeat="c in b.cards" >
                                    <p> {{c.qty}} {{c.cName}} </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="button" class="btn" data-toggle="modal" data-target="#modalBorrow"
                            ng-click="orgBorrow($parent.$index,$index)"> Modifier
                    </button>
                    <br> </br>
                </div>
            </div>
            <br> </br>


            <!--NEED-->
            <h4 class="panel-title">
                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#need{{$index}}"  title = "voir ce qu'il me manque">
                    <h5> Carte(s) manquante(s) </h5>
                </button>
            </h4>

            <div id="need{{$index}}" class="collapse toggle">
                <div ng-repeat="c in t.demands">
                    <p> {{c.qty}} {{c.cName}} </p>
                </div>
                <a role= "button" class ="btn btn-outline-info" href="#!emprunter">Ajouter</a>
                <br> </br>
            </div>
            <br> </br>

        </div>
    </div>
</div>