<div class="container">
	<h1>Inscription</h1>

	<div ng-controller="inscriptionCtrl">
		<form novalidate class="simple-form">
			<label>Nom: <input type="text" ng-model="nom" /></label><br />

			<label>Prénom: <input type="text" ng-model="prenom" /></label><br />

			<label>E-mail: <input type="email" ng-model="email" /></label><br />

			<label>Mot de passe : <input type="password" ng-model="password"></label><br />

			<label>Confirmer  : <input type="password"></label><br />

			<div ng-show="form.$submitted || form.uEmail.$touched">
				<span ng-show="form.uEmail.$error.required">Tell us your email.</span> 
				<span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
			</div>
			
			<button ng-click="reset()"/>Reset</button> 
			<button ng-click="inscription()">S'inscrire</button>
		</form>
	</div>

</div>