
<div class="container">
	<div>
		<h1>{{profil.uName}}</h1>
		<img src="{{avatar}}"></img>
		<form class="form-horizontal" name="formModifProfil" novalidate>

			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Nom</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.lastName" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Prénom</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.firstName" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>T&eacute;l&eacute;phone</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.telephone" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Adresse</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.adresse" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Code Postal</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.codePostal" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Ville</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.ville" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Email</label>
				</div>
				<div class="col-sm-10">
					<input type="email" ng-model="profil.email" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label><img src="../../../assets/icons/facebook.svg" height="32px" /></label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.facebook" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label><img src="../../../assets/icons/twitter.svg" height="32px" /></label></label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.twitter" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Avatar</label>
				</div>
				<div class="col-sm-10">
					<input type="text" ng-model="profil.avatar" size="50px"/>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Nouveau mot de passe</label>
				</div>
				<div class="col-sm-10">
					<input type="password" ng-model="profil.newPassword" name="password" size="50px" required password-constraints-directive>
					<span style="color:red" ng-show="formModifProfil.password.$dirty && formModifProfil.password.$invalid && profil.newPassword != '' ">
						Le mot de passe doit faire au moins 8 caractères et contenir au moins un chiffre et une majuscule
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="control-label col-sm-2">
					<label>Confirmer</label>
				</div>
				<div class="col-sm-10">
					<input type="password" ng-model="checkpw" name="checkpw" size="50px"/>
					<span style="color:red" ng-show="checkpw != profil.newPassword">
						Différent du nouveau mot de passe
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" ng-click="open()">Valider changements</button>
					<a href="#!profil"><button>Annuler</button></a>
				</div>
			</div>
	</form>
	</div>


	<div class="myModalParent"></div>
	<div class="modal-demo">
	    <script type="text/ng-template" id="myModalContent.html">
		<div>
			<div class="modal-header">
	            <h3 class="modal-title" id="modal-title">Entrez votre mot de passe</h3>
	        </div>
	        <div class="modal-body" id="modal-body">
	           <form>
			       <input type="password" ng-model="password"/>
		  		</form>
	        </div>
	        <div class="modal-footer">
	            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	        </div>
	    </div>
	    </script>
	</div>

	<!-- Modal de verification du password OLD
	<div class="modal fade" id="verifPassword" show>
	  <div class="modal-dialog">
	    <div class="modal-content">

	      <div class="modal-header">
	        <h4 class="modal-title">Mot de passe actuel</h4>
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	      </div>
	      <form>
		      <div class="modal-body">
			        <div><input type="password" ng-model="profil.password" required></div>
		      </div>

		      <div class="modal-footer">
		      	<button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
		        <button type="submit" class="btn btn-success" ng-click="envoiModifs()">Confirmer</button>
		      </div>
	  		</form>
	    </div>
	  </div>
	</div>	-->
</div>
