
<div>
	<div class="container" ng-show="loading">
	<img src="../../../assets/icons/loading.svg" class="loadingIcon"></img>
	</div>
	<div class="container" ng-show="!chargementOk && !loading">
		<h3>Erreur de chargement des données</h3>
		<h4>Essayez d'actualiser la page</h4>
	</div>
	<div class="container" ng-show="chargementOk && !loading">
		<div>
			<h1>{{profil.uName}}</h1>
			<img src="{{profil.avatar}}"></img>
			<div>{{profil.firstName+" "+profil.lastName}}</div>
			<div>T&eacute;l&eacute;phone : {{profil.phone}}</div>
			<div>DCI : {{profil.DCI}}</div>
			<br/>
			<div>Adresse</div>
			<p>{{profil.adress+"\n"+profil.zipCode+" "+profil.city}}</p>
			<div>Email : {{profil.email}}</div>
			<a href="{{profil.facebook}}" ng-hide="profil.facebook === ''"><img src="../../../assets/icons/facebook.svg" height="32px"></img></a>
			<a href="{{profil.twitter}}" ng-hide="profil.twitter === ''"><img src="../../../assets/icons/twitter.svg" height="32px"></img></a>
			<a href="#!modifierprofil" ng-hide=""><button>Modifier Profil</button></a>
		</div>
	</div>
	<div><!--
		<div my-map=""></div>
		<iframe width="600" height="450" frameborder="0" style="border:0" src="{{map}}"></iframe> -->
		 <!-- src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD91MpqapwxhA44W0VvxzNTqmfohKGDraI&amp;q=36 Avenue du President+Wilson+Cachan" allowfullscreen> -->
		<!-- '+profil.adresse+'+'+profil.ville 
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD91MpqapwxhA44W0VvxzNTqmfohKGDraI&callback=window.initMap()"  async defer></script>-->
		<!-- {{profil.adresse}} -->
	</div>
</div>
