
<div>
	<div class="container" ng-show="loading">
	<img src="assets/icons/loading.svg" class="loadingIcon"></img>
	</div>
	<div class="container" ng-show="!chargementOk && !loading">
		<h3>Erreur de chargement des données</h3>
		<h4>Essayez d'actualiser la page</h4>
	</div>
	<div class="container" ng-show="chargementOk && !loading">
		<div>
			<div class="row">
				<div class="col-sm-8">
					
					<div class="row">
						<div class="control-label col-sm-12">
							<h3>{{profil.uName}}</h3>
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-2">
							<label>Nom</label>
						</div>
						<div class="col-sm-10">
							{{profil.firstName+" "+profil.lastName}}
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-2">
							<label>Téléphone</label>
						</div>
						<div class="col-sm-10">
							{{profil.phone}}
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-2">
							<label>DCI</label>
						</div>
						<div class="col-sm-10">
							{{profil.DCI}}
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-2">
							<label>Adresse</label>
						</div>
						<div class="col-sm-10">
							<div>{{profil.address}}</div>
							<div>{{profil.zipCode+" "+profil.city}}</div>
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-2">
							<label>E-mail</label>
						</div>
						<div class="col-sm-10">
							{{profil.email}}
						</div>
					</div>
					<div class="row">
						<div class="control-label col-sm-12">
							<a href="{{profil.facebook}}" ng-hide="profil.facebook === ''"><img src="assets/icons/facebook.svg" height="32px"></img></a>
							<a href="{{profil.twitter}}" ng-hide="profil.twitter === ''"><img src="assets/icons/twitter.svg" height="32px"></img></a>
							<a ng-click="copyDiscord()" ng-hide="profil.discord === ''" tooltip-placement="bottom" uib-tooltip="Cliquez pour copier le pseudo dans le presse-papier.">
								<img src="assets/icons/discord.svg" height="32px"></img>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4"><img class="avatar" src="{{profil.avatar}}"></img></div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<a href="#!modifierprofil" ng-show="isMyProfile"><button>Modifier Profil</button></a>
				</div>
				<div class="col-sm-4" ng-show="isConnected">
					<div class="map">
			    		<iframe width="400" height="400" frameborder="0" style="border:0" ng-src="{{trustedMapUrl}}" allowfullscreen></iframe>
			    	</div>
				</div>
			</div>
			
			
		</div>
		
	</div>
