<div class="container">
	<h1>{{profil.uName}}</h1>
	<img src="{{profil.avatar}}"></img>
	<div>{{profil.firstName+" "+profil.lastName}}</div>
	<div>T&eacute;l&eacute;phone : {{profil.telephone}}</div>
	<div>DCI : {{profil.DCI}}</div>
	<br/>
	<div>Adresse</div>
	<p>{{profil.adresse+"\n"+profil.codePostal+" "+profil.ville}}</p>
	<div>Email : {{profil.email}}</div>
	<a href="{{profil.facebook}}" ng-hide="profil.facebook === ''"><img src="../../../assets/icons/facebook.svg" height="32px"></img></a>
	<a href="{{profil.twitter}}" ng-hide="profil.twitter === ''"><img src="../../../assets/icons/twitter.svg" height="32px"></img></a>
	<button>Modifier Profil</button>
</div>