img.loadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

img.avatar {
	width:100%;
    max-width:180px;
    float: right;
}

.map {
	padding:10px;
}