<!-- <div class="container">
    <h2>Mes prêts</h2>
    <div ng-repeat="item in tournaments ">
        <a href="#demo" class="btn btn-info" data-toggle="collapse">
                {{item.tName}}
        </a>
        <div id="demo" class="collapse">
            <div class = "lentCard" ng-repeat="lent in item.lentCards ">
                lent.uName
            </div>
        </div>
    </div>
</div>

-->

<div class="container">
    <h2>Mes prêts </h2>
    <!--<div class ="tournament" ng-repeat="item in tournaments ">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
            {{item.tName}}
        </button>
        <div id="demo" class="collapse in">
            <div  ng-repeat="lent in item.lentCards" class = "lentCard" >
                    {{lent.uName}}
            </div>


        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-3">
            <select class="form-control" ng-model="selectFiltreTournois" ng-options="t for t in selectTournament">
                {{t}}
            </select>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-3">
            <select class="form-control" ng-model="selectFiltreEmpruntsPretsDemandes" ng-options="f for f in selectEmpruntsPretsDemandes">
                {{f}}
            </select>
        </div>
    </div>

    -->

    <div class="form-group" ng-repeat="t in tournaments | filtreTournois : selectFiltreTournois">
        <h5> {{t.tName}} du {{t.date}} </h5>
        <h4 class ="panel-title">
            <a data-toggle="collapse" data-toggle="collapse" data-target="#prets{{$index}}">
                <h5> Je prête </h5>
            </a>
        </h4>

        <!--PRETS-->
        <div id="prets{{$index}}" class="collapse show">
            <div id="lender" ng-repeat="l in t.lentCards">
                <div class="row">
                    <div class="col-sm-9">
                        <div  class="lent-body">
                            <a type="button" data-toggle="collapse" data-target="#pret{{$parent.$index}}.{{$index}}">{{l.uName}}</a> 
                            <!--lien vers le profil du user a ajouter-->
                            <div id="pret{{$parent.$index}}.{{$index}}"class="collapse show">
                                <div ng-repeat="c in l.cards" ng-bind-html-unsafe="opt.text" >
                                    {{c.qty}} {{c.cName}} 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--EMPRUNTS-->
        <h4 class ="panel-title">
            <a data-toggle="collapse" data-target="#emprunt{{$index}}">
                <h5> On me prête </h5>
            </a>
        </h4>

        <div id="emprunt{{$index}}" class="collapse show">
            <div ng-repeat="b in t.borrowedCards">
                <div class="row">
                    <div class="col-sm-9">
                        <div  class="borrow-body">
                            <a data-toggle="collapse" data-target="#emprunt{{$parent.$index}}.{{$index}}">{{b.uName}}</a> <!--lien vers le profil du user a ajouté-->
                            <div id="emprunt{{$parent.$index}}.{{$index}}" class="collapse show">
                                <div ng-repeat="c in b.cards" ng-bind-html-unsafe="opt.text" >
                                    <h6> {{c.cName}}</h6>

                                    <form ng-submit ="borrowSubmit()" >
                                        <select class="form-control" id="howMuch">
                                            <option> {{c.qty}}</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    <input type="submit" id="Bsubmit" value="Submit" />
                                    </form>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--NEED-->
        <h4 class ="panel-title">
        <a data-toggle="collapse" data-target="#need{{$index}}">
                <h5> Ce qu'il me manque </h5>
            </a>
        </h4>

        <div id="need{{$index}}" class="collapse show">
            <div ng-repeat="c in t.demands">
                    {{c.qty}} {{c.cName}} 
            </div>
        </div>
    </div>








</div>