<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mes prêts</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../../shared/app.js"></script>
    <script src="mesPretsController.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="inded.css">

</head>


<body>
    <div ng-controller ="mesPretsController" >
        <div class = "mes emprunts">
            <ol>
                <li> A </li>
                <li> B </li>
                <li> C</li>
            </ol>
        </div>

    </div>

</body>
</html>